.f_font2 {
	FONT-SIZE: 14px; COLOR: #d41212
}
.fsavem_right_top {
	FLOAT: left; WIDTH: 100%; PADDING-TOP: 10px; BORDER-BOTTOM: #aeaeae 2px solid
}
.fsavem_right_toptitle {
	FLOAT: left; WIDTH: 70%; COLOR: #777676
}