BODY {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 25px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#main {
	FONT-SIZE: 80%; MARGIN: 0px auto; WIDTH: 750px; COLOR: #666666; LINE-HEIGHT: 130%; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
#header_wrapper {
	WIDTH: 765px
}
#nav_wrapper {
	WIDTH: 765px
}
#content_wrapper {
	WIDTH: 765px
}
#breadcrumbs {
	FONT-SIZE: 85%; FLOAT: right; MARGIN: 0px 10px -12px 0px
}
#header {
	CLEAR: right; BACKGROUND-IMAGE: url(../images/header-1.gif); BACKGROUND-REPEAT: no-repeat; TEXT-ALIGN: left
}
#header H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 180%; PADDING-BOTTOM: 0px; MARGIN: 0px 15px; COLOR: #2a56d6; LINE-HEIGHT: 2em; PADDING-TOP: 0px; HEIGHT: 115px
}
#content_left {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 100%; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 10px; WIDTH: 145px; LINE-HEIGHT: 135%; PADDING-TOP: 5px; TEXT-ALIGN: left
}
#content_left P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 8px 0px 0px 8px; PADDING-TOP: 0px
}
#content_left UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 8px 0px 0px 8px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#content_left LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#content_left LI.sub {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; WIDTH: 100%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#content_left A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #666666; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 1px solid; TEXT-DECORATION: none
}
#content_left A:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #666666; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 1px solid; TEXT-DECORATION: none
}
#content_left A:hover {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #2a56d6; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 1px solid; TEXT-DECORATION: underline
}
#content_left A:hover {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #2a56d6; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 1px solid; TEXT-DECORATION: underline
}


#content_my_right {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 100%; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 10px; WIDTH: 145px; LINE-HEIGHT: 135%; PADDING-TOP: 5px; TEXT-ALIGN: left
}
#content_my_right P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 8px 0px 0px 8px; PADDING-TOP: 0px
}
#content_my_right UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 8px 0px 0px 8px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#content_my_right LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#content_my_right LI.sub {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; WIDTH: 100%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#content_my_right A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #666666; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 1px solid; TEXT-DECORATION: none
}
#content_my_right A:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #666666; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 1px solid; TEXT-DECORATION: none
}
#content_my_right A:hover {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #2a56d6; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 1px solid; TEXT-DECORATION: underline
}
#content_my_right A:hover {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #2a56d6; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 1px solid; TEXT-DECORATION: underline
}




#content {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 10px; WIDTH: 590px; LINE-HEIGHT: 140%; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
#content_my_l {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 10px; WIDTH: 590px; LINE-HEIGHT: 140%; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
#content P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 8px 0px 0px 2px; PADDING-TOP: 0px
}
#content_l {
	PADDING-RIGHT: 5px; DISPLAY: inline; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px auto; WIDTH: 48%; PADDING-TOP: 5px
}
#content_r {
	PADDING-RIGHT: 5px; DISPLAY: inline; PADDING-LEFT: 5px; FLOAT: right; PADDING-BOTTOM: 5px; MARGIN: 0px auto; WIDTH: 48%; PADDING-TOP: 5px
}
H1 {
	DISPLAY: block; FONT-SIZE: 130%; WIDTH: 100%; COLOR: #2a56d6
}
H2 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 120%; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #557ef5; PADDING-TOP: 0px; BORDER-BOTTOM: #f0f0f0 2px solid
}
A {
	COLOR: #2a56d6; TEXT-DECORATION: none
}
A:visited {
	COLOR: #2a56d6; TEXT-DECORATION: none
}
A:hover {
	COLOR: #2a56d6; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #2a56d6; TEXT-DECORATION: underline
}
#footer_wrapper {
	CLEAR: both; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 6px double; PADDING-LEFT: 0px; FONT-SIZE: 80%; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 765px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#footer {
	CLEAR: both; PADDING-RIGHT: 5px; MARGIN: 0px; VERTICAL-ALIGN: middle; LINE-HEIGHT: 190%; TEXT-ALIGN: right
}
