<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cn" lang="cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="description" content="上海佳艺 钢铁加工 型钢 创新 优惠" />
<meta name="keywords" content="上海佳艺 钢铁加工 型钢 创新 优惠" />
<meta name="evoup" content="上海佳艺冷弯型钢厂 - Designer: evoup, http://192.168.0.2" />
<META HTTP-EQUIV="pragma" CONTENT="no-cache">
<title>上海佳艺冷弯型钢厂_企业内部网</title>
<link rel="stylesheet" type="text/css" href="../css/style.css" media="screen,projection" />
</head>
<body background="../image/bgwin.gif">
<div id="main">
<!-- ##### Header ##### -->
<div id="header_wrapper">
<div id="breadcrumbs"><a href="#">首页</a> | <a href="#">企业邮局</a> | <a href="#">View Cart</a></div>
<div id="header">
  <h1>佳艺企业内部网 </h1>
</div>
</div>
<!-- ##### Textual Content Area ##### -->
<div id="content_wrapper">
<div id="content">
<h2>最新安排</h2>
<p><ul>
  <li>
    <p>请把临时性文件转移到临时通道，《网上办事》栏目属于固定项目，每月使用。为维护文件整洁，请：</p>
    建议通过报表中心、文件中心来浏览文件，临时性文件从临时通道 走，注意保密文件通过其他方式实现！<div align=right>by 行政部 </div>
    </p>
</li>
</ul>
<p>&nbsp;</p>
<div id="content_l">
  <h2>网上办事</h2>
  <p><ul><li>1</li><li>2</li><li>3</li></ul></p>
</div>
<div id="content_r">
  <h2>制度规定</h2>
  <p>A lot of features with in this template design can be changed via CSS. If you have any suggestions for this template or future templates please contact us. </p>
</div>
<p>&nbsp;</p>
<h2>Open Source Web Design</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam sit amet sem. Suspendisse consectetuer leo. Vestibulum ac augue vitae tortor semper vulputate. Proin ultricies ullamcorper ante. Donec accumsan lorem et erat. Mauris vestibulum, nibh vel suscipit imperdiet, erat tortor tincidunt diam, eget venenatis velit massa at purus. Sed nonummy tempor libero. Aliquam nibh elit, euismod quis, placerat vel, aliquet eget, mi. Quisque ac massa eu dui aliquet gravida. Proin lorem lorem, aliquet ut, consectetuer id, ullamcorper id, metus. Ut velit. In id eros faucibus arcu porttitor luctus.</p>
<p>Curabitur laoreet convallis nisl. Suspendisse augue velit, egestas dignissim, euismod ut, tempor ut, urna. Donec scelerisque, augue at porttitor gravida, massa felis condimentum massa, a tristique tellus quam ac quam. Nam odio nibh, eleifend sit amet, aliquet vel, ornare nec, lorem. Nulla id leo et nunc vulputate dignissim. Maecenas lacus. Vestibulum varius, neque ac rhoncus facilisis, tortor nibh consectetuer dui, quis condimentum enim erat sed odio. Proin ut massa. Fusce sagittis est id quam. Suspendisse potenti. Integer tellus metus, sollicitudin eget, ullamcorper ac, hendrerit et, augue. Praesent lorem tellus, aliquam vel, semper a, commodo eget, quam. Sed dolor lacus, cursus ut, fermentum convallis, egestas sed, velit. Sed cursus lectus. Maecenas lorem. Vestibulum turpis pede, bibendum nec, molestie a, mattis nec, ligula. Etiam in nibh. Nam vitae erat vel felis mattis condimentum.</p>
<p>Nunc ut turpis quis tellus vehicula rhoncus. Cras pede sem, nonummy at, elementum vel, pharetra non, nisi. Fusce vestibulum. Cras congue cursus lorem. Etiam dignissim tristique sem. Curabitur scelerisque arcu ut nulla auctor tempor. Aenean congue tincidunt dolor. Pellentesque sem nulla, tristique non, semper eu, aliquam ac, dui. Proin purus justo, semper sed, ultricies sit amet, hendrerit ac, sem. Integer eget augue. Phasellus non quam at risus gravida pellentesque. Nunc tempus enim ac quam. Aliquam posuere libero eu nisi ultrices tincidunt.</p>
<p>&nbsp;</p>
</div>
<!-- ##### Left Navigation Bar ##### -->
<div id="content_left">
<h2>导航</h2>
<ul>
<li><a href="#">首页</a></li>
<li><a href="#">使说明用</a></li>
<li class="sub"><a href="#">企业行事录(建设中)</a></li>
<li class="sub"><a href="#">Employees</a></li>
<li><a href="#">其他新闻</a></li><li><a href="#">软件下载</a></li>
</ul>
<br />
<h2>网站新闻</h2>
<p><strong>[##sitenewtime##]</strong><br />[##siteshortnew##]</p>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<p align="center"><a href="http://validator.w3.org/check?uri=referer" target="_blank">Valid XHTML 1.0 Transitional</a><br />
<a href="http://jigsaw.w3.org/css-validator/" target="_blank">
  Valid CSS
 </a>
</p>
</div>
</div>
<!-- ##### Footer ##### -->
<div id="footer_wrapper">
<div id="footer"> &copy; 2006 上海佳艺冷弯型钢厂 | 
<!-- ##### Author: Joe Rozzi, Cirkuit Networks, Inc. - http://www.cirkuit.net
Please leave this comment and "Design by Cirkuit Networks, Inc." link below.
It is all I ask of you. Feel free to add "Modified by: Your Name", etc. ##### -->
<a href="http://www.cirkuit.net" target="_blank">Design by evoup </a> </div>
</div>
</div>
</body>
</html>
