<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="description" content="上海佳艺 钢铁加工 型钢 创新 优惠" />
<meta name="keywords" content="上海佳艺 钢铁加工 型钢 创新 优惠" />
<meta name="evoup" content="上海佳艺冷弯型钢厂 - Designer: evoup" />
<META HTTP-EQUIV="pragma" CONTENT="no-cache">
<title>首页--上海佳艺冷弯型钢厂_企业内部网</title>
<link rel="stylesheet" type="text/css" href="../css/style.css" media="screen,projection" />
<link rel="stylesheet" type="text/css" href="../css/announce.css" />
</head>
<body>
<div id="main">
<!-- ##### Header ##### -->
<div id="header_wrapper">
<div id="breadcrumbs"><!--<form style="display:inline; margin-top:-21px; padding:0;"><select name=""><option value="12" title="123">搜索网站</option><option value="" title="">搜索员工</option><option>搜索黄页</option></select><input type="text" /><input type="button" value="搜索"/></form>--><a href="index.php">首页</a> | 企业邮局 | View Cart</div>
<div id="header">
  <h1><span>佳艺企业内部网</span></h1>
</div>
</div><div id='hbar'>&nbsp;</div>
<!--滚动公告区-->
<div id="header_wrapper"><!--<h1 align=left>网站公告&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h1>-->
<!--  <div style='display:block; height:20px; border:1px solid gray;'>-->
    
 <!-- </div>-->
</div><div style='width:98%;background-color:#F2F2F2;margin-left:3px;padding-top:4px;margin-top:2px;' ><script language="JavaScript" type="text/javascript" src="../js/rollnews_1.js"></script></div>
<!-- ##### Textual Content Area ##### -->
<div id="content_wrapper">
<div id="content">
<h2><img src="../image/annoucement.gif"  />最新安排</h2>
<p>
<!--<div style='font-size:20px;color:#FF6633;font-weight:bold '>[##arrangetitle##]</div>
<div align=right>[##bywho##]--><!--<div style='font-weight:bolder'>[##arrangetime##]</div> --><!--</div>-->
<div class="announce" style="display: block;">
						<div class="announce-content">
			请把临时性文件转移到临时通道，《网上办事》栏目属于固定项目，每月使用。为维护文件整洁，请：
						</div>
	  </div>
<div id="content_l">
  <h2>&nbsp;&nbsp;网上办事
    <div style='margin-left:175px;display:inline;text-align:right;font:"宋体"'><a href="../article/articlelist.php?id=1"><img src="../image/more3.gif" alt="更多"  border=0/></a></div>
  </h2>
  <p><UL>
<!-- BEGIN list -->
<li>[##onlinework##]<div style="display:inline;margin-left:2px; font-size:10px;">([##time0##])</div>
</li>
<!-- END list -->
</UL> 
  
    </p>
      </p>
</div>
<div id="content_r">
  <h2>&nbsp;&nbsp;制度规定<div style='margin-left:175px;display:inline;text-align:right;font:"宋体"'><a href="../article/articlelist.php?id=2"><img src="../image/more3.gif" alt="更多" border=0/></a></div></h2>
  <p><UL><!-- BEGIN list1 --><li>[##zdgd##]<div style="display:inline;margin-left:2px; font-size:10px;">([##time1##])</div></li><!-- END list1 --></ul></p>
</div>
<p>&nbsp;</p><br />
<div style="visibility:hidden">
  <h2>os</h2>
</div>
<p><div id="content_l">
  <h2>&nbsp;&nbsp;会议纪要<div style='margin-left:175px;display:inline;text-align:right;font:"宋体"'><a href="../article/articlelist.php?id=3"><img src="../image/more3.gif" alt="更多" border=0/></a></div></h2>
  <p><UL>
<!-- BEGIN list2 -->
<li>[##hyjy##]<div style="display:inline;margin-left:2px;">([##time2##])</div></li>
<!-- END list2 -->
</UL> 
  <p>月度例会(0)</p>
  <p>周例会(0)</p>
  <p>每日例会(0)</p>
  <p>
  </p>
</div><!--youxia--><div id="content_r">
  <h2>&nbsp;&nbsp;建设中...<div style='margin-left:175px;display:inline;text-align:right;font:"宋体"'><a href="../article/articlelist.php?id=1"><img src="../image/more3.gif" alt="更多" border=0/></a></div></h2>
  <p>.....</p>
</div>
<p>&nbsp;</p>
</div>
<!-- ##### Left Navigation Bar ##### -->
<div id="content_left">
<div id="bar_container"><h2>导&nbsp;&nbsp;航</h2>
<ul>
<li><a href="#">首页</a></li>
<li><a href="#">使说明用</a></li>
<li class="sub"><a href="#">企业行事录(建设中)</a></li>
<li class="sub"><a href="#">Employees</a></li>
<li><a href="#">其他新闻</a></li><li><a href="#" onclick="window.open('soft/download.html')">软件下载</a></li>
</ul></div>
<br />
<h2>网站公告</h2>
<div style='border:0px solid ; height:0px;display:inline'><p><strong>[##sitenewstime##]</strong><br />
[##siteshortnews##]
  <div style='text-align:right'><a href="bulletin/bulletinlist.php">更多</a></div></div></p>
  
<h2 >浏览过的记录</h2>
<div style='border:0px solid ; height:0px;display:inline'><p><strong></strong><br />
[##lastbrowser##]
  <p><a href='#' style="color:#D40000">06年度工作总结及07年工作计划(叶亚文)(2006-12-20 09:17)</a><p><a href='#'>2006年工作总结(邵忠元)(2006-12-20 10:54)</a>
  
  <div style='text-align:right'><a href="#">更多</a></div></div></p>  
  
  <div id="bar_container"><h2>新员工须知</h2>
<ul>
<li><a href="#">员工守则</a></li>
<li><a href="#">使说明用</a></li>
<li class="sub"><a href="#">厂区分布</a></li>
<li class="sub"><a href="#">主要部门电话</a></li>
</ul></div>
  
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<p align="center"><a href="http://validator.w3.org/check?uri=referer" target="_blank">Valid XHTML 1.0 Transitional</a><br />
<a href="http://jigsaw.w3.org/css-validator/" target="_blank">
  Valid CSS
 </a>
</p>
</div>
</div>
<!-- ##### Footer ##### -->
<div id="footer_wrapper">
<div id="footer"> &copy; 2006 上海佳艺冷弯型钢厂 | 
<!-- ##### Author: Joe Rozzi, Cirkuit Networks, Inc. - http://www.cirkuit.net
Please leave this comment and "Design by Cirkuit Networks, Inc." link below.
It is all I ask of you. Feel free to add "Modified by: Your Name", etc. ##### -->
<a href="mailto:evoex@126.com" target="_blank">Design by evoup </a> | <a href="admin/admin_login.php">管理登陆</a> </div>
</div>
</div>
</body>
</html>
