<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>菜单</title>
<LINK href="../css/css.css" type=text/css rel=stylesheet>
<!-- 重新写行距 -->
<style type="text/css">
<!--
line-height:162px;
-->
</style>

<link type="text/css" rel="stylesheet" href="../css/xtree2.links.css">
<script type="text/javascript" src="../js/static/xtree2.js"></script>
<script type="text/javascript" src="../js/static/xloadtree2.js"></script>
<SCRIPT LANGUAGE="JavaScript">
<!--
//这里要写点js刷新框架的方法
//-->
</SCRIPT>
</head>

<body  bgcolor="#F6F6F6" >
<DIV id=left>
<div id=msgalert><BR><IMG SRC="../image/email.gif"  BORDER="0" ALT="">短消息<A HREF="../messenge/msgview.php" target="main">[<div id=msgunread >0</div>]</A>未读</div><BR>
<!--每人都有的-->
<DIV class=box>
      <H5 class="box">&nbsp;日程管理&nbsp;</H5>
      <DIV class=body>
      <DIV class="content odd"><!-- <IMG 
      src="../image/icot.png" border=0> <A 
      href="../calendar1/index.php" target="main">公司行事录</A><BR>
	  <IMG src="../image/icot.png" border=0> <A href="">最近安排</A><BR>
	  <IMG src="../image/icot.png" border=0> <A href="../store/store.php" target="main">物品申领</A><BR>
        <BR> -->
		<script type="text/javascript">
/// suse Look
webFXTreeConfig.rootIcon		= "images/linuxsuse/folder.png";
webFXTreeConfig.openRootIcon	= "images/linuxsuse/openfolder.png";
webFXTreeConfig.folderIcon		= "images/linuxsuse/folder.png";
webFXTreeConfig.openFolderIcon	= "images/linuxsuse/openfolder.png";
webFXTreeConfig.fileIcon		= "images/linuxsuse/file.png";
webFXTreeConfig.lMinusIcon		= "images/linuxsuse/Lminus.png";
webFXTreeConfig.lPlusIcon		= "images/linuxsuse/Lplus.png";
webFXTreeConfig.tMinusIcon		= "images/linuxsuse/Tminus.png";
webFXTreeConfig.tPlusIcon		= "images/linuxsuse/Tplus.png";
webFXTreeConfig.iIcon			= "images/linuxsuse/I.png";
webFXTreeConfig.lIcon			= "images/linuxsuse/L.png";
webFXTreeConfig.tIcon			= "images/linuxsuse/T.png";
var tree = new WebFXLoadTree("日程管理", "xml.php?p=rcgl");
tree.write();

</script>
      </DIV></DIV></DIV><br />
<!-- 系统管理员 -->
[##adminmenu##]
<!-- <DIV class=box>
      <H5 class="box">&nbsp;系统管理&nbsp;</H5>
      <DIV class=body>
      <DIV class="content odd"><IMG 
      src="../image/icot.png" border=0> <A 
      href="">操作日志</A><BR>
        <IMG 
      src="../image/icot.png" border=0> <A 
      href="">登陆日志</A><BR>
        <IMG 
      src="../image/icot.png" border=0> <A 
      href="">用户管理</A><BR>
	  <IMG 
      src="../image/icot.png" border=0> <A 
      href="">模块管理</A><BR>
	  <IMG 
      src="../image/icot.png" border=0> <A 
      href="">角色管理</A><BR>
	  <IMG 
      src="../image/icot.png" border=0> <A 
      href="">目录管理</A><BR>
      </DIV></DIV></DIV><br /> -->





<!-- 人事 -->
[##personnelmattersmenu##]
<!-- <DIV class=box>
      <H5 class="box">&nbsp;人事管理&nbsp;</H5>
      <DIV class=body>
      <DIV class="content odd"><IMG 
      src="../image/icot.png" border=0> <A 
      href="">部门管理</A><BR>
        <IMG 
      src="../image/icot.png" border=0> <A 
      href="">人员管理</A><BR>

	  <IMG 
      src="../image/icot.png" border=0> <A 
      href="">人员照片</A><BR>

      </DIV></DIV></DIV><br> -->
<!-- 每人都有的 -->
<DIV class=box>
      <H5 class="box">&nbsp;公文管理&nbsp;</H5>
      <DIV class=body>
      <DIV class="content odd"><!-- <IMG 
      src="../image/icot.png" border=0> <A 
      href="">回收站</A><BR>
        <IMG 
      src="../image/icot.png" border=0> <A 
      href="">文档管理</A><BR> --><script type="text/javascript">
/// suse Look
webFXTreeConfig.rootIcon		= "images/linuxsuse/folder.png";
webFXTreeConfig.openRootIcon	= "images/linuxsuse/openfolder.png";
webFXTreeConfig.folderIcon		= "images/linuxsuse/folder.png";
webFXTreeConfig.openFolderIcon	= "images/linuxsuse/openfolder.png";
webFXTreeConfig.fileIcon		= "images/linuxsuse/file.png";
webFXTreeConfig.lMinusIcon		= "images/linuxsuse/Lminus.png";
webFXTreeConfig.lPlusIcon		= "images/linuxsuse/Lplus.png";
webFXTreeConfig.tMinusIcon		= "images/linuxsuse/Tminus.png";
webFXTreeConfig.tPlusIcon		= "images/linuxsuse/Tplus.png";
webFXTreeConfig.iIcon			= "images/linuxsuse/I.png";
webFXTreeConfig.lIcon			= "images/linuxsuse/L.png";
webFXTreeConfig.tIcon			= "images/linuxsuse/T.png";
var tree = new WebFXLoadTree("公文管理", "xml.php");
tree.write();

</script><!-- <BR>
	  <IMG 
	 src="../image/icot.png" border=0> <A href="../document/draft.php" target="main">发文起草</A><BR>
	  <IMG 
      src="../image/icot.png" border=0> <A 
      href="">文件搜索</A><BR>
 -->
      </DIV></DIV></DIV><br>
<!-- 每人都有的 -->
<DIV class=box>
      <H5 class="box">&nbsp;个人工具&nbsp;</H5>
      <DIV class=body>
      <DIV class="content odd"><IMG 
      src="../image/icot.png" border=0> <A 
      HREF="../addlist/addlist.php" target="main">通讯录</A><BR>
        <IMG 
      src="../image/icot.png" border=0> <A 
      href="../messenge/dispatch.php?type=ubb" target="main">短消息</A><BR>
	  <IMG 
      src="../image/icot.png" border=0> <A 
      href="../messenge/dispatch.php?type=vis" target="main">短消息2</A><BR>
	  <IMG 
      src="../image/icot.png" border=0> <A 
      href="../usr/conf.php" target="main">修改设置</A><BR>
        <BR>

      </DIV></DIV></DIV><br>	 
	 
	  
</DIV>
</body>
</html>
