.btn1 {
	BORDER-RIGHT: #80aff5 1px solid; BORDER-TOP: #80aff5 1px solid; FLOAT: none; BORDER-LEFT: #80aff5 1px solid; COLOR: #2971ab; BORDER-BOTTOM: #80aff5 1px solid; BACKGROUND-COLOR: white
}
.mContent {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; VERTICAL-ALIGN: top; LINE-HEIGHT: 150%
}
.menuBg {
	BACKGROUND-COLOR: #67b3e5
}
.m02_bg {
	BACKGROUND-COLOR: #e3f4fe
}
.left01_td {
	PADDING-BOTTOM: 8px; BACKGROUND-COLOR: #fdeee7
}
.m02_td_bg {
	BACKGROUND-COLOR: #c2dfed
}
#top01_bg {
	BACKGROUND-IMAGE: url(images/top_01.jpg)
}
#top02_r {
	BACKGROUND-IMAGE: url(images/top_r.jpg)
}
#top02_bg {
	BACKGROUND-IMAGE: url(images/top_bg.jpg)
}
#topmenu_bg {
	BACKGROUND-IMAGE: url(images/topmenu_bg.jpg)
}
#login_top {
	BACKGROUND-IMAGE: url(images/login_top.jpg)
}
#login_bg {
	BACKGROUND-IMAGE: url(images/login_bg.jpg)
}
#login_foot {
	BACKGROUND-IMAGE: url(images/login_foot.jpg)
}
#gonhgao_bg {
	BACKGROUND-IMAGE: url(images/gonhgao_bg.jpg)
}
#gonggao_foot {
	BACKGROUND-IMAGE: url(images/gonggao_foot.jpg)
}
#m01_l {
	BACKGROUND-IMAGE: url(images/m01_l.jpg)
}
#m01_t2 {
	BACKGROUND-IMAGE: url(images/m01_t2.jpg)
}
#m01_bg {
	BACKGROUND-IMAGE: url(images/m01_bg.jpg)
}
#m01_r {
	BACKGROUND-IMAGE: url(images/m01_r.jpg)
}
#mo2_t_l {
	BACKGROUND-IMAGE: url(images/mo2_t_l.jpg)
}
#mo2_t_dot {
	BACKGROUND-IMAGE: url(images/mo2_t_dot.jpg)
}
#mo2_t_bg {
	PADDING-LEFT: 12px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(images/mo2_t_bg.jpg); COLOR: #ffffff
}
.xcontent {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; PADDING-TOP: 10px
}
#mo2_t_r {
	BACKGROUND-IMAGE: url(images/mo2_t_r.jpg)
}
#mo2_b_t {
	BACKGROUND-IMAGE: url(images/mo2_b_t.jpg)
}
#mo2_b_bg {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(images/mo2_b_bg.jpg); PADDING-TOP: 12px
}
#mo2_b_f {
	BACKGROUND-IMAGE: url(images/mo2_b_f.jpg)
}
#topmenu_l {
	BACKGROUND-IMAGE: url(images/topmenu_l.jpg)
}
#zfztb_t_l {
	BACKGROUND-IMAGE: url(images/zfztb_t_l.jpg)
}
#zfztb_t_bg {
	BACKGROUND-IMAGE: url(images/zfztb_t_bg.jpg)
}
#zfztb_t_foot {
	BACKGROUND-IMAGE: url(images/zfztb_t_foot.jpg)
}
#rdzt_t {
	BACKGROUND-IMAGE: url(images/rdzt_t.jpg)
}
#zwgk_01 {
	BACKGROUND-IMAGE: url(images/zwgk_01.jpg)
}
#zwgk_bg {
	BACKGROUND-IMAGE: url(images/zwgk_bg.jpg)
}
#zwgk_r_102 {
	BACKGROUND-IMAGE: url(images/zwgk_r_102.jpg)
}
#search01 {
	BACKGROUND-IMAGE: url(images/search01.jpg)
}
#search01_4 {
	BACKGROUND-IMAGE: url(images/search01_4.jpg)
}
#menu02_t_bg {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(images/menu02_t_bg.jpg); COLOR: #ee511e; TEXT-ALIGN: left
}
#menu02_t_l {
	BACKGROUND-IMAGE: url(images/menu02_t_l.jpg)
}
#menu02_t_r {
	BACKGROUND-IMAGE: url(images/menu02_t_r.jpg)
}
#menu02_l_bg {
	BACKGROUND-IMAGE: url(images/menu02_l_bg.jpg)
}
#menu02_r_bg {
	BACKGROUND-IMAGE: url(images/menu02_r_bg.jpg)
}
#menu02_f_bg {
	BACKGROUND-IMAGE: url(images/menu02_f_bg.jpg)
}
#menu02_r_f {
	BACKGROUND-IMAGE: url(images/menu02_r_f.jpg)
}
#menu02_l_f {
	BACKGROUND-IMAGE: url(images/menu02_l_f.jpg)
}
#jgdh_bg {
	BACKGROUND-IMAGE: url(images/jgdh_bg.jpg)
}
#jgdh_f {
	BACKGROUND-IMAGE: url(images/jgdh_f.jpg)
}
#jgdh_bg2 {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(images/jgdh_bg2.jpg)
}
#jgdhf {
	BACKGROUND-IMAGE: url(images/jgdhf.jpg)
}
#gzfw_bg2 {
	BACKGROUND-IMAGE: url(images/gzfw_bg2.jpg)
}
#gzfw_ft2 {
	BACKGROUND-IMAGE: url(images/gzfw_ft2.jpg)
}
#gzfw_ft {
	BACKGROUND-IMAGE: url(images/gzfw_ft.jpg)
}
#gzfw_bg {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(images/gzfw_bg.jpg)
}
#xm_t {
	BACKGROUND-IMAGE: url(images/xm_t.jpg)
}
.mxxCont {
	BORDER-RIGHT: #cb7b3e 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #cb7b3e 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #cb7b3e 1px solid; BACKGROUND-COLOR: #ffffff
}
#xm_bg {
	BACKGROUND-IMAGE: url(images/xm_bg.jpg)
}
#xm_ft {
	BACKGROUND-IMAGE: url(images/xm_ft.jpg)
}
.zwgkLink {
	FONT-WEIGHT: bolder; COLOR: #1e73c3
}
.mrColor {
	FONT-WEIGHT: bolder; COLOR: #168713
}
#zxdc_top_l {
	BACKGROUND-IMAGE: url(images/zxdc_top_l.jpg)
}
#zxdc_top_bg {
	BACKGROUND-IMAGE: url(images/zxdc_top_bg.jpg)
}
#zxdc_top_r {
	BACKGROUND-IMAGE: url(images/zxdc_top_r.jpg)
}
#headNewsTop {
	BACKGROUND-IMAGE: url(images/headNewsTop.jpg)
}
#test {
	BACKGROUND-IMAGE: url(images/test.jpg)
}
#test {
	BACKGROUND-IMAGE: url(images/test.jpg)
}
.hdxxOver0 {
	BACKGROUND-IMAGE: url(images/hdxxOver0.jpg); CURSOR: hand
}
.hdxxOver1 {
	BACKGROUND-IMAGE: url(images/hdxxOver1.jpg); CURSOR: hand
}
.hdxxOver2 {
	BACKGROUND-IMAGE: url(images/hdxxOver2.jpg); CURSOR: hand
}
.hdxxOut0 {
	BACKGROUND-IMAGE: url(images/hdxxOut0.jpg); CURSOR: hand
}
.hdxxOut1 {
	BACKGROUND-IMAGE: url(images/hdxxOut1.jpg); CURSOR: hand
}
.hdxxOut2 {
	BACKGROUND-IMAGE: url(images/hdxxOut2.jpg); CURSOR: hand
}
.fwphOver0 {
	BACKGROUND-IMAGE: url(images/fwphOver0.jpg); CURSOR: hand
}
.fwphOver1 {
	BACKGROUND-IMAGE: url(images/fwphOver1.jpg); CURSOR: hand
}
.fwphOver2 {
	BACKGROUND-IMAGE: url(images/fwphOver2.jpg); CURSOR: hand
}
.fwphOut0 {
	BACKGROUND-IMAGE: url(images/fwphOut0.jpg); CURSOR: hand
}
.fwphOut1 {
	BACKGROUND-IMAGE: url(images/fwphOut1.jpg); CURSOR: hand
}
.fwphOut2 {
	BACKGROUND-IMAGE: url(images/fwphOut2.jpg); CURSOR: hand
}
#topmenu_bgcolor {
	BACKGROUND-COLOR: #ca290d
}
.m02_bg {
	BACKGROUND-COLOR: #e3f4fe
}
.m02_td_bg {
	BACKGROUND-COLOR: #c2dfed
}
.fonts2 {
	COLOR: #5a270c; TEXT-ALIGN: left
}
#xm_bg_bg {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid
}
#xm_ft_bg {
	BACKGROUND-IMAGE: url(images/xm_ftbig.jpg)
}
#xm_t_bg {
	BACKGROUND-IMAGE: url(images/xm_t.jpg)
}
