<!--这个模版来自[最好模版-http://BestMoban.Com],需要更多模版请访问http://BestMoban.Com-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=gb2312"/>
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/> 
<meta name="author" content="author"/> 
<!-- <link rel="stylesheet" type="text/css" href="template/skin6/default.css"/> -->
<link rel="stylesheet" type="text/css" href="../template/skin6/default.css"/>
<title>佳艺企业内部网</title>
</head>
<body><div id="sitename"><h1><span>佳艺企业内部网--佳艺腾飞，通向富有</span></h1></div>


<div class="header">
<div class="content_main">
	<div class="menu">
		<ul id="ulist">
			<li><a href="../index.php" id="current">首  页</a></li>
			<li><a href="../article/articlelist.php?id=网上办事&rootview=yes">网上办事</a></li>
			<li><a href="../article/articlelist.php?id=制度规定&rootview=yes">制度规定</a></li>
			<li><a href="#">选 项</a></li>[##console_li##]
		</ul>
  </div>
  </div>
  <div id=xbar></div><div id=xbar2 ><span class=span_xbar2_left></span><span class=span_xbar2_right></span></div>
</div>
<div class="content_main">
<div class="content_left">
[##myconsole##][##logout_li##]
	[##snavi##]
  <div class="date">[##bulletintitle##]</div>
<div style="color:#2A00AA; text-align:center; font-size:12px; border-top: 1px solid gray;"><div style="color:#AA0000;display:inline;">[##artbywho##]</div>&nbsp;&nbsp;[<i>[##adddate##]</i>]</div>
	<div class="newsitem">
		<div class="title">[##articletitle##]</div>
		<div class="body">
			[##bulletincontent##]
		</div>
		<div class="clearer"><span></span></div>
	</div>

  </div>
</div>
<div class="content_main">
<div class="content_right">

	<div class="links">[##loginbox##]
<div class="title">公告</div>
<div class="announce">&nbsp;&nbsp;&nbsp;&nbsp;各位同仁，新年好！2007年我们企业的内部网开通了，目前还处于初级阶段，希望大家多提宝贵意见。登录的帐号请<a href='../bulletin/readbulletin.php?id=89'>点击这里</a>。时间仓促，页面美工做得不好，请谅解。祝你工作愉快！
         <p >-- 行政部   </p></div>
		<div class="title">访问过的连接</div>

		[##lastb##]
		<a href="#"><b>more</b></a>

		

</div>
</div></div>
<div class="content_main">
<div class="footer">
	<div class="copyright">&copy; 2007 佳艺企业内部网. Design by <a href="mailto:evoex@126.com">Evoup</a>.</div>
</div></div>
</body>
</html>
