<!--这个模版来自[最好模版-http://BestMoban.Com],需要更多模版请访问http://BestMoban.Com-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=gb2312"/>
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/> 
<meta name="author" content="author"/> 
<link rel="stylesheet" type="text/css" href="../template/skin6/defaultfull.css"/>
<!-- <link rel="stylesheet" type="text/css" href="defaultfull.css"/> -->
<title>[##articletitle##]_文章_佳艺企业内部网</title>
</head>
<body><div id="sitename"><h1><span>佳艺企业内部网--佳艺腾飞，通向富有</span></h1></div>


<div class="header">
<div class="content_main">
	<div class="menu">
		<ul>
			<li><a href="../index.php" id="current">首  页</a></li>
			<li><a href="../article/articlelist.php?id=网上办事&rootview=yes">网上办事</a></li>
			<li><a href="../article/articlelist.php?id=制度规定&rootview=yes">制度规定</a></li>
			<li><a href="#">选 项</a></li>[##console_li##]
		</ul>
  </div>
  </div>
  <div id=xbar></div><div id=xbar2 ><span class=span_xbar2_left></span><span class=span_xbar2_right></span></div>
</div>
<div class="content_main">
<div class="contentfull">
[##myconsole##][##logout_li##]
	<div class="date"><h3 style='text-align:center'>[##articletitle##]</h3></div>

	<div class="newsitem1">
		<div class="title">[##snavi##]</div><div style="color:gray; text-align:center; font-size:12px; border-top: 1px dashed grb(193,193,192);">发布：<div style="color:rgb(0,102,255);display:inline;">[##artbywho##]</div>&nbsp;&nbsp;发表于<i>[##adddate##]</i></div>
		<div id=xbar3></div>
		<div class="body">
		  <p>[##articlecontent##]</p>
		</div>
		<div class="clearer"><span></span></div>
	</div>

  </div>
</div>
<div class="content_main"></div>
<div class="content_main">
<div class="footer">
	<div class="copyright">&copy; 2007 佳艺企业内部网. Design by <a href="mailto:evoex@126.com">Evoup</a>.</div>
</div></div>
</body>
</html>
