<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head>
<title>通讯录_佳艺企业内部网</title><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css"  href="[##site_dir##]/css/gen.css">	
 <style type="text/css">
<!--
#artcontent_i ul{MARGIN: 0 0 0 11px;
PADDING: 0px;
BORDER: medium none; /*不显示边框*/
LINE-HEIGHT: normal;
LIST-STYLE-TYPE: none;
}
#artcontent_i li{ list-style: none;
 width: 100%;
 border-bottom: 1px dotted #CCC;
 line-height: 31px;
 height: 31px;  }
#artcontent_i a {
color: #777;
 display: block;
 padding: 0px 0px 0px 15px;
background: url(../image/dot.gif)
 no-repeat 0 6px;
}
#artcontent_i li span {
 float: right;/*使span元素浮动到右面*/
 text-align: right;/*日期右对齐*/
}
#artcontent_i li a:hover { color: #369;
 background: url(../image/dot2.gif) no-repeat 0 6px;} 
#listviewbg{
background-image:
url(img/listViewBg.gif);
height:20px;}


-->
</style>
</head><body class="www">
<!--UdmComment-->
 <div id="container">
	 [##header##]
<!--<div style="clear: both;"></div>-->

<!-- Main content -->
<div id="page">

<table style="" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody><tr valign="top">
		<td style="margin: 0px; width: 200px;" width="200">
	<!--UdmComment-->
	<div id="submenu" style="margin-top: 0px;">	</div> 
	<div id="submenu" style="margin-top: -2px;">	
	<div id="leftmenutd"><span>访问过的连接</span></div>
	<div id="leftmenuout"><div id="leftmenuin"><ul><!-- BEGIN list0 --><li>[##lastb##]</li><!-- END list0 --></ul>
</div></div>
	</div>
	<div id="submenu" style="margin-top: -2px;">	
	<div id="leftmenutd"><span>新雇员须知</span></div>
	<div id="leftmenuout"><div id="leftmenuin"><ul><li><a href="article/readarticle.php?id=56">职工加班的有关规定</a></li><li><a href="article/readarticle.php?id=68">关于工、量具管理的规定</a></li><li><a href="article/readarticle.php?id=72">员工手册</a></li><li><a href="article/readarticle.php?id=150">计算机使用管理规定</a></li></ul>
</div></div>
	

<div id="submenu" style="margin-top: 0px;">	
	<div id="leftmenutd"><span>未登陆人员</span></div>
	<div id="leftmenuout"><div id="leftmenuin"><p>&nbsp;</p><p>张三(2天)</p><p>李四(54天)</p>
</div></div>		
	</div>	
	<!--/UdmComment-->

	<div class="prpromo">
			
<div class="promo">
<a href="/awards/"></a></div>
	</div>	</td> 
		<td style="padding: 4px; height: 230px;" height="230" width="80%"><div id="arrangement">
		  <h3>同事：首页</h3>
          <span>这个模块正在开发中，它能够提供短消息功能</span></div>
		  <div id="addlist"><TABLE width=100%>
<tr  bgColor=#ffffff id="listviewbg">
 <td align=center width="20%" bgcolor=white  style="border-width:1px; border-color:black; border-style:solid;" height="5%" valign="top"><SPAN style="FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal">姓&nbsp;名</SPAN></FONT></B></TD>
 <TD align=center width="12%"  bgcolor=white  style="border-width:1px; border-color:black; border-style:solid;" height="12%" valign="top"><B><FONT color=#800000><B><SPAN style="FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal">经理</SPAN></B></TD>
<TD align=center width="20%"  bgcolor=white  style="border-width:1px; border-color:black; border-style:solid;" height="12%" valign="top"><B><B><FONT color=#800000><SPAN style="FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal">电子邮件</SPAN></B></TD>
<TD align=center width="12%"  bgcolor=white  style="border-width:1px; border-color:black; border-style:solid;" height="12%" valign="top"><B><B><FONT color=#800000><SPAN style="FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal">部&nbsp;门</SPAN></B></TD>
<TD align=center width="15%"  bgcolor=white  style="border-width:1px; border-color:black; border-style:solid;" height="12%" valign="top"><B><FONT color=#800000><B><SPAN style="FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal">办公电话</SPAN></B></TD>
<TD align=center width="17%"  bgcolor=white  style="border-width:1px; border-color:black; border-style:solid;" height="12%" valign="top"><B><FONT color=#800000><SPAN style="FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal">状态</SPAN></B></TD></TR>

<!-- BEGIN listx --><tr>
<td>[##name##]</td><td>[##man##]</td><td>[##mail##]</td><td>[##dep##]</td><td>[##tel##]</td><td>[##isleave##]</td>
</tr><!-- END listx -->
		
</table>

</div></td>
		</tr>
</tbody></table>








 </div> </div> 
	
	<layer hidden="true"><img src=" /svrGP.gif" border="0" height="1" width="1"></layer>
[##footer##]	
		
	

</body></html>