<link rel="stylesheet" type="text/css"  href="css/gen2.css" />
<TABLE cellSpacing=0 cellPadding=0 align=center border=0>
<TBODY>
<TR>
<TD style="OVERFLOW: hidden; WIDTH: 75px; PADDING-TOP: 5px" vAlign=center 
align=middle><A onclick="__user_login_link_click('0096226')" 
href="http://my.poco.cn/id-44579009.shtml" target=_blank><IMG alt=evoup 
src="/upload_dir/user_head_pic/user_2008_09_01.jpg" border=0></A> </TD>
<TD style="PADDING-LEFT: 2px; HEIGHT: 80px">
<DIV title=evoup 
style="MARGIN-TOP: 10px; MARGIN-BOTTOM: 5px; OVERFLOW: hidden; WIDTH: 114px; WHITE-SPACE: nowrap">
<DIV style="FLOAT: left; OVERFLOW: hidden; WIDTH: 135px">欢迎您,[[[OUT_member]]]</DIV></DIV>
<DIV style="MARGIN-BOTTOM: 5px">poco号:44579009</DIV><!-- <div style='margin-bottom:5px;'>频道总积分：</div>-->
<DIV style="MARGIN-BOTTOM: 5px">总积分:<A title=积分帮助 
onclick="__user_login_link_click('0096227')" 
href="http://my.poco.cn/help/help_jifen_01.php" target=_blank>0</A> 
</DIV></TD></TR>
<TR>
<TD colSpan=2>
<DIV 
style="PADDING-RIGHT: 0px; MARGIN-TOP: 1px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; PADDING-TOP: 0px; TEXT-ALIGN: center">
<UL style="MARGIN: 0px">
<LI style="CLEAR: both; MARGIN-BOTTOM: 5px; WHITE-SPACE: nowrap">
<DIV style="OVERFLOW: hidden; WIDTH: 192px"><A style="COLOR: #3fa600" 
onclick="__user_login_link_click('0096228')" 
href="http://my.poco.cn/id-44579009.shtml" 
target=_blank>http://my.poco.cn/id-44579009.shtml</A>&nbsp;&nbsp;<A 
style="TEXT-DECORATION: none" onclick="__user_login_link_click('0096229')" 
href="http://my.poco.cn/pm/pm_message.php?_admin_login" target=_blank><IMG 
src="http://www.poco.cn/index_images/index_icon_mail.gif" 
border=0>(0)</A></DIV></LI>
<LI><A style="COLOR: red" onclick="__user_login_link_click('0096230')" 
href="http://my.poco.cn/v2/?_admin_login" target=_blank><SPAN 
style="FONT-WEIGHT: bold; COLOR: #f26522">管理</SPAN></A>&nbsp;<SPAN 
style="COLOR: #f7701f">|</SPAN>&nbsp;<A id=login_frame_blog_add_link 
style="COLOR: red" onclick="__user_login_link_click('0096231')" 
href="http://my.poco.cn/v2/mypoco_guide_blog_add.php" target=_blank><SPAN 
style="FONT-WEIGHT: bold; COLOR: #f7701f">发作
  </SAPN></A>&nbsp;<SPAN 
style="FONT-WEIGHT: normal; COLOR: #f7701f">|</SPAN>&nbsp;<A style="COLOR: red" 
onclick="__user_login_link_click('0096232')" 
href="http://my.poco.cn/album/album_upload.php?_admin_login" target=_blank><SPAN 
style="FONT-WEIGHT: bold; COLOR: #f26522">上册</SPAN></A> &nbsp;&nbsp;<A 
onclick="__user_login_link_click('0096233')" 
href="member/test_access_level.php?action=log_out">退出</A></LI>
<LI style="MARGIN-TOP: 2px; TEXT-ALIGN: left">
<DIV 
style="MARGIN-TOP: 5px; FONT-WEIGHT: normal; FLOAT: left; COLOR: #3fa600">兴趣：</DIV>
<DIV id=channel_icon_poco_web style="FLOAT: left"><A class=cursor_pointer 
href="http://my.poco.cn/v2/mypoco_user_detail.php?user_id=44579009&amp;_admin_login#photo" 
target=_blank sweetTitles="1" admin="1" tip="我的相机：点击填写"><IMG 
class=user_channel_brief_img src="http://image.poco.cn/a/photo2.gif" 
align=absMiddle border=0></A><A class=cursor_pointer 
href="http://my.poco.cn/v2/mypoco_user_detail.php?user_id=44579009&amp;_admin_login#mobile" 
target=_blank sweetTitles="1" admin="1" tip="我的手机：点击填写"><IMG 
class=user_channel_brief_img src="http://image.poco.cn/a/mobile2.gif" 
align=absMiddle border=0></A><A class=cursor_pointer 
href="http://my.poco.cn/v2/mypoco_user_detail.php?user_id=44579009&amp;_admin_login#travel" 
target=_blank sweetTitles="1" admin="1" tip="我去过：点击填写"><IMG 
class=user_channel_brief_img src="http://image.poco.cn/a/travel2.gif" 
align=absMiddle border=0></A><A class=cursor_pointer 
href="http://my.poco.cn/v2/mypoco_user_detail.php?user_id=44579009&amp;_admin_login#box" 
target=_blank sweetTitles="1" admin="1" tip="我的达物：点击填写"><IMG 
class=user_channel_brief_img src="http://image.poco.cn/a/box2.gif" 
align=absMiddle border=0></A><A class=cursor_pointer 
href="http://my.poco.cn/v2/mypoco_user_detail.php?user_id=44579009&amp;_admin_login#food" 
target=_blank sweetTitles="1" admin="1" tip="最近去过的餐厅：点击填写"><IMG 
class=user_channel_brief_img src="http://image.poco.cn/a/food2.gif" 
align=absMiddle border=0></A><A class=cursor_pointer 
href="http://my.poco.cn/v2/mypoco_user_detail.php?user_id=44579009&amp;_admin_login#pet" 
target=_blank sweetTitles="1" admin="1" tip="我的宠物：点击填写"><IMG 
class=user_channel_brief_img src="http://image.poco.cn/a/pet2.gif" 
align=absMiddle 
border=0></A></DIV></LI></UL></DIV></TD></TR></TBODY></TABLE>