<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cn">
<head>
<title>首页--[[[site_name]]]网</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css"  href="[[[site_dir]]]/css/gen.css" />
<link rel="stylesheet" type="text/css"  href="[[[site_dir]]]/css/list.css" />
<link rel="stylesheet" type="text/css"  href="[[[site_dir]]]/css/footer.css" />
<!--	<link rel="stylesheet" type="text/css"  href="[[[site_dir]]]/calendar/css/cal.css" />-->
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:1;
}

body > div {
margin-left:auto;
margin-right:auto;
text-align:center;
}
div, form, ul, ol, li, span, p {
border:0pt none;
margin:0pt;
padding:0pt;
}
img, a img {
border:0pt none;
margin:0pt;
padding:0pt;
}
h1, h2, h3, h4, h5, h6 {
font-size:12px;
font-weight:normal;
margin:0pt;
padding:0pt;
}
ul, ol, li {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}
table, td, input {
font-size:12px;
}
table {
margin:0pt auto;
}
a {
color:#000000;
text-decoration:none;
}
a:hover {
text-decoration:underline;
}
.txtF {
background:transparent url([[[site_dir]]]/image/bg03.gif) repeat scroll 0%;
background-repeat:no-repeat;
float:left;
height:71px;
width:246px;
}
.txt240A {
line-height:18px;
}
.txt240A {
color:#555555;
line-height:20px;
margin:9px auto 8px;
text-align:left;
width:222px;
}
.bodybg {
background:#D8E1E7 url([[[site_dir]]]/image/body_bg.gif) repeat-x scroll center top;
}
-->
</style>
<script language="javascript" src="js/header2.js"></script>
<script language="javascript" defer="defer">
//if (g_guest_islogin=='' || g_guest_islogin==0) {
//document.getElementById('hid_loginbox').style.display="none";
//}
//else{
//document.all('hid_loginbox').style.display="block";
//}
</script>
<script src="js/show_flash.js"></script>
</head>
<body>
<!--UdmComment-->
<div id="container" style="overflow: hidden">[[[header]]]<!--<div style="clear: both;"></div>-->
<!-- Main content --><div id="page" style="  margin:0 auto;">
    <!--<div id="Layer1" style="z-index:9; left:0px;"><img src="../../image/believe.jpg" /></div>竖向广告-->
    <table border="0" cellpadding="0" cellspacing="0" style='padding:0 0 0 6px; background-color:#FFFFFF' align="center" height="770px">
      <!--必须为div内table元素加上height,而不要在div加height书属性，因为table不溢出的，DIV会的-->
      <tr valign="top">
        <td style="margin: 0px; width: 200px;background-color:#EBF3FE"><!--UdmComment-->
          <div id="submenu" style="margin-top: 0px;"><!--loginbox s-->[[[loginbox]]]<!--loginbox e--></div>
          <div id="submenu" style="margin-top: -2px;">
            <div id="leftmenutd"><span>你访问过的地方</span></div>
            <div id="leftmenuout_white">
              <ul>
                <!-- BEGIN list0 -->
                <li>[[[lastb]]]</li>
                <!-- END list0 -->
              </ul>
            </div>
          </div>
		  <div id="submenu" style="margin-top: -2px;">
            <div id="leftmenutd"><span>最新社区推荐</span></div>
            <div id="leftmenuout_white">
              <ul>
                <li><a href="article/readarticle.php?id=56">鼓浪屿印象---平静和谐。</a></li>
                <li><a href="article/readarticle.php?id=68">[原创]秀色旧时光</a></li>
                <li><a href="article/readarticle.php?id=72">有这么烂的嘉网，你当然要单身</a></li>
                <li><a href="article/readarticle.php?id=150">暴风雨鸣奏曲</a></li>
				<li><a href="article/readarticle.php?id=150">[原创]坝上归来</a></li>
				<li><a href="article/readarticle.php?id=150">兄弟姐妹搞起来(这-_-!)</a></li>
              </ul>
            </div>
            <!--<div id="submenu" style="margin-top: 0px;">	
	<div id="leftmenutd"><span>未登陆人员</span></div>
	<div id="leftmenuout_white"><p>&nbsp;</p><p>张三(2天)</p><p>李四(54天)</p>
</div>		-->
          </div>
		  
		  
		  
	    </td>
        <td style="margin: 0 7 0 7px; height: 230px;" height="230" width="456" ><!--中间开始-->
          <div class="mbanner" style="border: 0px solid rgb(187, 187, 187); padding: 0px;  no-repeat scroll -8px -4px; height: 230px; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;">
            <div style="margin: 0px 8px 0px 0px;">
              <!--<div style="float: right; height: 230px;" align="right">
					<h1 class="m" style="margin: 2px 0px 0px; font-size: 190%; font-weight: bold; color: rgb(249, 123, 12);"><a class="m" style="color: rgb(249, 123, 12);" href="/enterprise/">JIAYI Enterprise</a></h1> 

			      <div></div>
			  </div>-->
              <!--<SCRIPT language=javascript type=text/javascript>
			writeflashhtml("_swf=css/img/focus.swf?02041629", "_width=666", "_height=216" ,"_wmode=transparent");
			</SCRIPT>-->
              <div name="articleimg" style="position:static">
                <div align="center">
                  <div style="width:128px;float:left; text-align:left"><a href="#">[图秀]</a><a href="#"> 真实广州小美女敏敏,多图!小心流鼻血哦！</a>
                      <p><a href="#">[上海发骚男女]</a><a href="#"> 谨以此文献给初夏惬意的午后,...</a></p>
                  </div>
                  <img src='upload_dir/thumb/[[[thumbimg1]]]' width="120px" height="90px" style="float:left; border:1px solid #000000" />&nbsp;<img src='upload_dir/thumb/53bb1335833095668bfeb83ad566fbd2.jpg' width="120px" height="90px" style="border:1px solid #000000" />
                  <div name="tupiandejieshao"><a href="#">真实广州小美女敏敏..</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">5月27日谁去奥运圣...</a></div>
                </div>
              </div>
            </div>
            <!--it is overflowed so add a div-->
            <div id="arrangement">
              <h3>时尚</h3>
              <span>[[[listview0]]]</span></div>
            <div style='width:400px;border:0px solid #FF6600; background-color:#FFFFFF'>
              <div><ul class="list">
                <!-- BEGIN list -->
                <li><span>([[[time0]]]) </span>[[[Artcatlog1]]]</li>
                <!-- END list -->
              </ul></div>
            </div>
            <div id="arrangement">
              <h3>数码</h3>
              <span>[[[listview1]]]</span></div>
            <div  style='width:400px;border:0px solid #FF6600; background-color:#FFFFFF'>
              <ul class="list">
                <!-- BEGIN list1 -->
                <li><span>([[[time1]]]) </span>[[[Artcatlog2]]]</li>
                <!-- END list1 -->
              </ul>
            </div>
            <div id="arrangement">
              <h3>娱乐</h3>
              <span>[[[listview2]]]</div>
            <div  style='width:400px;border:0px solid #FF6600; background-color:#FFFFFF'>
              <ul class="list">
                <!-- BEGIN list2 -->
                <li><span>([[[time2]]]) </span>[[[Artcatlog3]]]</li>
                <!-- END list2 -->
              </ul>
            </div>
			
			<!--情感两性-->
			<div id="arrangement">
              <h3>情感两性</h3>
              <span>[[[listview3]]]</span></div>
            <div  style='width:400px;border:0px solid #FF6600; background-color:#FFFFFF'>
              <ul class="list">
                <!-- BEGIN list3 -->
                <li><span>([[[time3]]]) </span>[[[Artcatlog4]]]</li>
                <!-- END list3 -->
              </ul>
            </div>
          </div>
          <!--it is overflowed so add a div-->
        </td>
        <td style="padding-top: 4px;" width="" id="righttd"><div style="padding: 4px 0px 10px; background: transparent url(/common/images/ent_comm_banner_bg-B.gif) no-repeat scroll 0%; float: right; width: 340px; height: 320px; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; margin-left: 10px;">
            <div style="padding-left: 10px;">
              <h2 class="mbanner"><a href="#">
                <!--稍后推出-->
                </a></h2>
              <!--            <div  id="cal">
              <p>[[[calendar_s]]]</p>
              <p>[[[calendar_s1]]]</p>
             
            </div> -->
			<!----><!--<div class="txtF"><div class="txt240A">
 <a target="_blank" href="http://goto.sogou.com/200805/49e27780f3c94a3a6c2981a7f58f65c4.php">外企高薪职位汇总</a><br/>
 <a target="_blank" href="http://61.135.132.134/goto.php?aid=163&pid=1327">抗震救灾我和你同在发</a><br/><a target="_blank" href="http://61.135.132.134/goto.php?aid=163&pid=1327">加油祖国我为你骄傲</a><br/>
</div>
</div>--><!---->
<div style="background:url([[[site_dir]]]/image/bulletinbox.png); background-repeat:no-repeat;width:208px; height:144px;"><table width="208" height="145" border="0" style="height:144px">
  <tr>
    <td height="17" colspan="3">&nbsp;</td>
    </tr>
  <tr>
    <td width="17">&nbsp;</td>
    <td width="159" valign="top" align="left">[[[out_bulletin]]]</td>
    <td width="18" height="122">&nbsp;</td>
  </tr>
</table>
</div>
<div>三十年后全变大妈</div>
              <p style=" float:left"><img src="../../image/avny.jpg" width="213" height="213" /></p>
            </div>
          </div><!--community s-->
<DIV class=club><A class=newtasklink href=""><!--<IMG 
class=moreinfo src="">-->社区</A></DIV>
<DIV class=clublist>
<DIV class=informationfirst><A href="#" 
target=_blank><IMG src="/upload_dir/thumb/4344bf1590d3c9b1e5de657bb858f599.jpg" 
border=0 width="64" height="64">嘉网？还是嘉定广告网？</A><BR>
  主发布任务、推荐朋友注册实名... 

<DIV class=frmore><A href="#" 
target=_blank>全文&gt;</A></DIV></DIV>
<DIV class=cb></DIV>
<UL>
<LI><A href="#" 
target=_blank>【杂文】别拿80后说事！</A> 
<LI><A href="http://club.taskcn.com/viewthread.php?tid=44935" 
target=_blank>【时尚】非主流还是反主流？</A> </LI>
</UL>
<DIV class=frmore><A href="#" 
target=_blank>查看更多&gt;&gt;</A></DIV></DIV><!--community e-->
          <div style="text-align: center; padding-left: 8px;"> <a href="#"></a></div></td>
      </tr>
    </table>
	<table style="height:60px; width:1040px" border="0"><tr><td><!--banna s--><div id="group_title" style="
font-size:	14px;
font-weight: 400;
font-style:	normal;
color:	#FFFFFF;
line-height	:52px;
text-align:left;
vertical-align:baseline;
direction:ltr;
background-color:	#3366AA;

background-repeat	:repeat;
background-attachment	:scroll;
opacity	:1;">
	<span ><a href="javascript:void(0);" style=" font-size:1.30em;text-decoration:underline;color:#FFFFFF;padding-left:10px">某人的英语自留地</a></span><span class="onlinefig">在线会员：(building)<a href="" class="onlinefig">evoup</a></span>
</div>
	<div  style='width:400px;border:0px solid #FF6600; background-color:#FFFFFF'>
              <ul class="list">
                <!-- BEGIN list4 -->
                <li><span>([[[time5]]]) </span>[[[Artcatlog5]]]</li>
                <!-- END list4 --></ul>
            </div> 
<!--banna e--></td></tr></table>
	
  </div>
</div>
<!--<layer hidden="true"><img src=" /svrGP.gif" border="0" height="1" width="1" /></layer>-->
[[[footer]]]
</body>
</html>