<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[[[SITENAME]]]_登录页面</title>
<style type="text/css">
<!--
.dz_boxshow {	BORDER-RIGHT: #cacaca 1px solid; BORDER-TOP: #cacaca 1px solid; MARGIN-TOP: 7px; OVERFLOW: hidden; BORDER-LEFT: #cacaca 1px solid; WIDTH: 150px; BORDER-BOTTOM: #cacaca 1px solid; HEIGHT: 200px
}
.dz_showlnk {	FONT-WEIGHT: bold; LINE-HEIGHT: 26px; TEXT-ALIGN: center
}
.dzbox_info {	PADDING-LEFT: 10px; LINE-HEIGHT: 21px
}
.dzbox_mylnk {	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.dzbox_name {	MARGIN-TOP: 8px; PADDING-LEFT: 10px; FONT-SIZE: 14px; LINE-HEIGHT: 26px
}
.dzbox_tit {	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #002264; TEXT-INDENT: 32px; LINE-HEIGHT: 24px; PADDING-TOP: 3px
}
.dzboxa_black {	COLOR: #000000; TEXT-DECORATION: underline
}
.dzboxa_red {	COLOR: #f00
}
-->
</style>

[[[header]]]
<div id = "container">
<div id =page style=" width:790px; margin:auto;">
<!--content s-->
<hr style="BORDER-RIGHT: #c4c4c4 1px dotted; BORDER-TOP: #c4c4c4 1px dotted; BORDER-LEFT: #c4c4c4 1px dotted; BORDER-BOTTOM: #c4c4c4 1px dotted" width="98%"></hr>
	<table cellspacing="0" cellpadding="0" width="470" border="0">
      <tbody>
        <tr>
          <td valign="center" background="userCenter.files/dz_boxtop.gif" height="31"><div class="dzbox_tit">我的地盘</div></td>
        </tr>
        <tr>
          <td valign="top" align="middle" background="userCenter.files/dz_boxmid.gif"><table 
      style="BACKGROUND: url(http://txt.mop.com/images/usercenter/line_bot.gif) repeat-x left bottom" 
      cellspacing="0" cellpadding="0" width="446" border="0">
              <tbody>
                <tr>
                  <td valign="top" align="middle" width="160" height="235"><div class="dz_boxshow">
                    <!--
		               <object width=120 height=160>
						<param name=movie value="http://show.mop.com/s__2"></param>
						<embed src="http://show.mop.com/s__2" type=application/x-shockwave-flash width="120" height="160"></embed>
					  </object>
					  -->
                      <script language="JavaScript" type="text/javascript">
					    var imgpath= getUserPhotoPath('33576867','0'); 
 						document.write( "<img src='"+imgpath+"' width='150' height='200' alt='mop秀' border='0'>" );
 					  </script>
                    </div>
                      <div class="dz_showlnk"><a class="dzboxa_red" 
            href="http://show.mop.com/?murl=draw_romm.jsp" 
            target="_blank">免费领取MM代金券，<br />
                        更新您的avatar形象</a> </div></td>
                  <td valign="top"><div class="dzbox_name">昵称：<a class="dzboxa_red" 
            href="http://i.mop.com/dzhinfo.jsp?logonname=MPjdgmpjg8076" 
            target="_blank">evoup</a></div>
                      <div class="dzbox_info">MP：6
                        <!--[<a href="userCenter.jsp?item=红包"class="dzboxa_black">红包</a></span>]<br>-->
                        <!--[<a href="#" class="dzboxa_black" onclick="showNoRedBagDiv(event);return false;">红包</a></span>]<br>-->
                        MM：0（<a 
            class="dzboxa_black" href="http://pay.mop.com/" 
            target="_blank">充值</a>）<br />
                        股票：0股 （<a class="dzboxa_black" 
            href="http://dzh.mop.com/nstock/index.jsp" 
            target="_blank">大盘信息</a>）<br />
                        称号：
                        <script>document.write(getMTitle(6));</script>
                          <br />
                        星级：
                        <script>document.write("<img src='http://img.mop.com/images/newdzh/star/green"+getFealth(4,365)+".gif'>");</script>
                          <br />
                        用户级别：一般用户<br />
                        猫龄：4天<br />
                        今日运势：不明
                        <!--[<a href="#" class="dzboxa_black" onclick="showLuckyDiv(event);return false;">转运</a>]-->
                        <br />
                        状态：正常 </div></td>
                  <td valign="top" width="80"><div 
            style="MARGIN-TOP: 15px; PADDING-LEFT: 8px; BORDER-LEFT: #ccc 1px dotted">
                      <ul class="dzbox_mylnk">
                        <li><a 
              onclick="showLeftDown('http://dzh2.mop.com/topic/useretc/my.jsp?at=自发&amp;reffer=newbie');return false;" 
              href="http://dzh.mop.com/useretc/uinfo/userCenter.jsp?from=newbie#">我的帖子</a> </li>
                        <li><a href="http://dzh.mop.com/itemmart/new_index.jsp" 
              target="_blank">我的道具</a> </li>
                        <li><a href="http://dzh.mop.com/nstock/myaccount.jsp" 
              target="_blank">我的股票</a> </li>
                        <li><a href="http://dzh.mop.com/change/viewMyChange.jsp" 
              target="_blank">我的异动</a> </li>
                        <li><a href="http://dzh.mop.com/useretc/msg/MsgSend.jsp" 
              target="_blank">我的传呼</a> </li>
                        <li><a href="http://dzh.mop.com/common/mopFunction.jsp" 
              target="_blank">更多功能</a> </li>
                        <li><a href="http://gg.mop.com/act.htm" target="_blank">猫扑活动</a> </li>
                      </ul>
                  </div></td>
                </tr>
              </tbody>
          </table>
              <table 
      style="BACKGROUND: url(http://txt.mop.com/images/usercenter/line_bot.gif) repeat-x left bottom" 
      cellspacing="0" cellpadding="0" width="446" border="0">
                <tbody>
                  <tr>
                    <td valign="top" align="middle"><div style="MARGIN: 5px; LINE-HEIGHT: 20px; TEXT-ALIGN: left"><font 
            class="dzboxa_red">友情提示：</font>你的状态正常，参加活动可轻松获取MP。<a 
            class="dzboxa_black" 
            href="http://dzh2.mop.com/useretc/contactadmin/HelpOnlineNew.jsp" 
            target="_blank">[求助]</a><br />
                      你的MP为6，可以在<a class="dzboxa_black" 
            href="http://dzh.mop.com/" 
            target="_blank">大杂烩</a>发帖了，MP大于15就能回帖，加油！<br />
                      <iframe 
            style="HEIGHT: 20px" src="userCenter.files/36.htm" frameborder="0px" 
            width="100%" scrolling="No"></iframe>
                      <font 
            class="dzboxa_red">站务互动区：</font><a 
            href="http://dzh.mop.com/useretc/contactadmin/index.jsp?flag=1" 
            target="_blank">用户投诉</a>、<a 
            href="http://dzh.mop.com/useretc/contactadmin/index.jsp?flag=2" 
            target="_blank">在线求助</a>、<a 
            href="http://dzh.mop.com/useretc/contactadmin/index.jsp?flag=3" 
            target="_blank">提交意见与建议</a><br />
                    </div></td>
                  </tr>
                </tbody>
              </table>
            <div style="MARGIN: 8px auto">
                <table style="LINE-HEIGHT: 20px" cellspacing="0" cellpadding="4" width="446" 
      border="0">
                  <tbody>
                    <tr>
                      <td valign="top" align="middle" width="50"><a 
            onclick="showLeftDown('http://dzh2.mop.com/topic/useretc/my.jsp?at=自发&amp;reffer=newbie');return false;" 
            href="http://dzh.mop.com/useretc/uinfo/userCenter.jsp?from=newbie#"><b>自发帖</b></a></td>
                      <td valign="top" align="left"><div><br />
                        &nbsp;<br />
                      </div></td>
                      <td valign="bottom" align="middle" width="60"><a class="dzboxa_red" 
            onclick="showLeftDown('http://dzh2.mop.com/topic/useretc/my.jsp?at=自发&amp;reffer=newbie');return false;" 
            href="http://dzh.mop.com/useretc/uinfo/userCenter.jsp?from=newbie#"><b>更多&gt;&gt;&gt;</b></a></td>
                    </tr>
                  </tbody>
                </table>
              <table style="LINE-HEIGHT: 20px" cellspacing="0" cellpadding="4" width="446" 
      border="0">
                  <tbody>
                    <tr>
                      <td valign="top" align="middle" width="50"><a 
            onclick="showLeftDown('http://dzh2.mop.com/topic/useretc/my.jsp?at=自回&amp;reffer=newbie');return false;" 
            href="http://dzh.mop.com/useretc/uinfo/userCenter.jsp?from=newbie#"><b>自回帖</b></a></td>
                      <td valign="top" align="left"><div><br />
                        &nbsp;<br />
                      </div></td>
                      <td valign="bottom" align="middle" width="60"><a class="dzboxa_red" 
            onclick="showLeftDown('http://dzh2.mop.com/topic/useretc/my.jsp?at=自回&amp;reffer=newbie');return false;" 
            href="http://dzh.mop.com/useretc/uinfo/userCenter.jsp?from=newbie#"><b>更多&gt;&gt;&gt;</b></a></td>
                    </tr>
                  </tbody>
              </table>
              <table style="LINE-HEIGHT: 20px" cellspacing="0" cellpadding="4" width="446" 
      border="0">
                  <tbody>
                    <tr>
                      <td valign="top" align="middle" width="50"><a 
            onclick="showLeftDown('http://dzh2.mop.com/topic/useretc/my.jsp?at=关注&amp;reffer=newbie');return false;" 
            href="http://dzh.mop.com/useretc/uinfo/userCenter.jsp?from=newbie#"><b>关注帖</b></a></td>
                      <td valign="top" align="left"><div><br />
                        &nbsp;<br />
                      </div></td>
                      <td valign="bottom" align="middle" width="60"><a class="dzboxa_red" 
            onclick="showLeftDown('http://dzh2.mop.com/topic/useretc/my.jsp?at=关注&amp;reffer=newbie');return false;" 
            href="http://dzh.mop.com/useretc/uinfo/userCenter.jsp?from=newbie#"><b>更多&gt;&gt;&gt;</b></a></td>
                    </tr>
                  </tbody>
              </table>
            </div></td>
        </tr>
        <tr>
          <td><img src="userCenter.files/dz_boxbot.gif" alt="ssss" 
  width="465" height="3" /></td>
        </tr>
      </tbody>
    </table>
	<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="display:none"><a href="login_local.php">Login with messages according user's language settings </a><br>(only for users with a profile)</p>
<!--content e-->
</div>
</div>[[[footer]]]
</body>
</html>