<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>无标题文档</title>
</head>

<body><div align="center">
<table width=80%  style="border:1px solid #000000">
  <tr>
    <td class=><div align="center">栏目名称</div></td>
    <td><div align="center">下级栏目</div></td>
    <td><div align="center">名称内容</div></td>
    <td><div align="center">栏目顺序</div></td>
    <td><div align="center">是否启用</div></td>
    <td><div align="center">单一属性</div></td>
    <td><div align="center">删除栏目</div></td>
  </tr><!-- BEGIN list -->
  <tr>
    <td>[##classname##]</td>
    <td>[##nextclassname##]</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td align="center"><label>
      <input type="checkbox" name="checkbox" value="checkbox" />
    </label></td>
  </tr><!-- END list -->
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table></div>
<label>
<div align="center" style="padding-top:20px;"><input type="submit" name="Submit" value="提交" /></div>
</body>
</html>
