<link href="[##site_dir##]/css/gen.css" rel="stylesheet" type="text/css" />
 <div id="header">
	 
	 <div id="logoandtoolbg">
		<div id="logo"><a href="[##site_dir##]/index.php"><img src="[##site_dir##]/css/img/logo.gif" alt="LOGO" height="59" width="131" /></a><img src="[##site_dir##]/css/img/slogen.gif" />
		</div>
	 </div>
	 <div id="beta">第一期</div>
	
		
	<div id="search">
	 <ul><li>我的控制台|</li><li><a href="[##site_dir##]/addlist/addlist_i.php">通讯录</a>|</li><li>关于</li>[##logout_li##]</ul>
	</div>

    <div id="worldwide"><h2><span>佳艺冷弯型钢铁厂</span></h2></div> 
	<div class="menu">
		<ul>
			<li><a href="[##site_dir##]/index.php" id="current">首  页</a></li>
			<li><a href="[##site_dir##]/article/articlelist.php?id=网上办事&rootview=yes">网上办事</a></li>
			<li><a href="[##site_dir##]/article/articlelist.php?id=制度规定&rootview=yes">制度规定</a></li>
			<li><a href="#">选 项</a></li><!-- [##console_li##] -->
		</ul>
  </div>
</div>
<!--/UdmComment-->
<div id="xbar"></div><div id="xbar2" ><span class="span_xbar2_left">[##nowtime##]</span><span class="span_xbar2_right"><a href="#" onclick='hidesidebar()'>开关左侧边栏</a>关于内网</span></div>
