<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cn"><head>
<title>首页--佳艺企业内部网</title><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><!-- <meta http-equiv="Content-Type" content="text/html; charset=gb2312" /> -->
	<link rel="stylesheet" type="text/css"  href="[##site_dir##]/css/gen.css" />
	<link rel="stylesheet" type="text/css"  href="[##site_dir##]/css/list.css" />
	<link rel="stylesheet" type="text/css"  href="[##site_dir##]/css/footer.css" />	    
    <style type="text/css">
<!--
#Layer1 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:1;
}
-->
    </style>
	<script src="js/show_flash.js"></script>
    </head>
<body class="www">
<!--UdmComment-->
 <div id="container">
	[##header##]
<!--<div style="clear: both;"></div>-->



	  
<!-- Main content -->
<div id="page">

	 
  <!--<div id="Layer1" style="z-index:9; left:0px;"><img src="../../image/believe.jpg" /></div>-->

<table border="0" cellpadding="0" cellspacing="0" style='padding:0 0 0 6px' align="center">
	<tr valign="top">
		<td style="margin: 0px; width: 200px;background-color:#EBF3FE" width="200">
	<!--UdmComment-->
	<div id="submenu" style="margin-top: 0px;">[##loginbox##]	
	<div id="leftmenutd"><img src="../image/arrow3.gif" /><span>公告</span></div>
	<div id="leftmenuout"><div id="leftmenuin">各位同仁，新年好！2007年我们企业的内部网开通了，目前还处于初级阶段，希望大家多提宝贵意见。登录帐号请<a href="bulletin/readbulletin.php?id=89"><b>点击这里</b></a>。目前登陆后可以记录浏览过的记录，其他功能将于第二期开始陆续推出。如果你发现有的页面有问题那么说明<b>正在建设</b>，谢谢，祝你工作愉快！ 
<span style='float:right'>-- 行政部</span>
</div></div>
	</div> 
	<div id="submenu" style="margin-top: -2px;">	
	<div id="leftmenutd"><span>访问过的连接</span></div>
	<div id="leftmenuout_white"><ul><!-- BEGIN list0 --><li>[##lastb##]</li><!-- END list0 --></ul>
</div>
	</div>
	<div id="submenu" style="margin-top: -2px;">	
	<div id="leftmenutd"><span>新雇员须知</span></div>
	<div id="leftmenuout_white"><ul><li><a href="article/readarticle.php?id=56">职工加班的有关规定</a></li><li><a href="article/readarticle.php?id=68">关于工、量具管理的规定</a></li><li><a href="article/readarticle.php?id=72">员工手册</a></li><li><a href="article/readarticle.php?id=150">计算机使用管理规定</a></li></ul>
</div>
	

<div id="submenu" style="margin-top: 0px;">	
	<div id="leftmenutd"><span>未登陆人员</span></div>
	<div id="leftmenuout_white"><p>&nbsp;</p><p>张三(2天)</p><p>李四(54天)</p>
</div>		
	</div>	
	</td> 
		<td style="margin: 0 7 0 7px; height: 230px;" height="230" width="456" >	<!--中间开始-->	 
		<div class="mbanner" style="border: 0px solid rgb(187, 187, 187); padding: 0px;  no-repeat scroll -8px -4px; height: 230px; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;">
			
			<div style="margin: 0px 8px 0px 0px;">
			  <!--<div style="float: right; height: 230px;" align="right">
					<h1 class="m" style="margin: 2px 0px 0px; font-size: 190%; font-weight: bold; color: rgb(249, 123, 12);"><a class="m" style="color: rgb(249, 123, 12);" href="/enterprise/">JIAYI Enterprise</a></h1> 

			      <div></div>
			  </div>-->
			  <!--<SCRIPT language=javascript type=text/javascript>
			writeflashhtml("_swf=css/img/focus.swf?02041629", "_width=666", "_height=216" ,"_wmode=transparent");
			</SCRIPT>-->

			</div>
		    <div id="arrangement"><h3>最新安排</h3><span>显示时间到<select><option  value="n/a">今日</option><option value="n/a">本周</option><option  value="n/a">本月</option></select>本功能正在开发中</span></div>
			<div id="arrangement"><h3>我的收件箱</h3><span><img src="image/mail2.gif" width="15" height="11" />未收短消息数<img src="image/mailaction.png" width="115" height="20" />本功能正在开发中</span></div>
		    <div id="arrangement"><h3>网上办事</h3><span><a href="../article/articlelist.php?id=网上办事&rootview=yes">全部</a></span></div>
			<div style='width:400px;border:0px solid #FF6600; background-color:#FFFFFF'>
		
<ul class="list"><!-- BEGIN list -->
<li><span>([##time0##]) </span>[##onlinework##]</li><!-- END list -->
</ul>
</div>






<div id="arrangement"><h3>制度规定</h3><span><a href="../article/articlelist.php?id=制度规定&rootview=yes">全部</a></span></div>


<div  style='width:400px;border:0px solid #FF6600; background-color:#FFFFFF'>
		
<ul class="list"><!-- BEGIN list1 -->
<li><span>([##time1##]) </span>[##zdgd##]</li><!-- END list1 -->
</ul>
</div>



<div id="arrangement"><h3>会议纪要</h3><span><a href="../article/articlelist.php?id=会议纪要&rootview=yes">全部</a></span></div>


<div  style='width:400px;border:0px solid #FF6600; background-color:#FFFFFF'>	
<ul class="list"><!-- BEGIN list2 -->
<li><span>([##time2##]) </span>[##hyjy##]</li><!-- END list2 -->
</ul>
</div>
		</div>		


<table style="margin-top: 12px;" align="center" border="0" cellpadding="0" cellspacing="0" width="456">
	<tr valign="middle">
			<td class="fpsection head" width="200">
				<a href="#">指派给我的问题</a>		</td>
	
		<td width="20">&nbsp;&nbsp;&nbsp;</td>
	
		
		<td class="fpsection head" width="200">
				<a href="#">我未完成的项目</a> <span style="font-size: 85%; margin-left: 8px; color: rgb(220, 96, 0);"></span>		</td>
	</tr>


	<tr>
		<td colspan="1" style="border-style: none solid solid; border-color: -moz-use-text-color rgb(204, 204, 204) rgb(204, 204, 204); border-width: medium 1px 1px;" valign="top">

		<div class="fpsection body">
		
				
		
			<div>开发中</div>
			<br />
		</div> 	</td>

	<td>&nbsp;&nbsp;&nbsp;</td>

	<td colspan="1" style="border-style: none solid solid; border-color: -moz-use-text-color rgb(204, 204, 204) rgb(204, 204, 204); border-width: medium 1px 1px;">&nbsp;</td>
	</tr>
</table>		</td>
		
		<td style="padding-top: 4px;" width="361" id="righttd">
			
			<div style="padding: 4px 0px 10px; background: transparent url(/common/images/ent_comm_banner_bg-B.gif) no-repeat scroll 0%; float: right; width: 340px; height: 320px; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; margin-left: 10px;">
	<div style="padding-left: 10px;">
		<h2 class="mbanner"><a href="#"><!--稍后推出--></a></h2> 
		<div  id="cal">
			
			<p>[##calendar_s##]</p><p>[##calendar_s1##]</p>
			<p><img src="../../image/samplespace.jpg" width="260" height="252" /></p>
			
		</div>
	</div>
			</div>

	
	
	

			<div style="text-align: center; padding-left: 8px;">

						
		<a href="#"></a>										</div>		</td>
	</tr>
	
	</table>







 </div> </div> 
	
	<!--<layer hidden="true"><img src=" /svrGP.gif" border="0" height="1" width="1" /></layer>-->
[##footer##]
</body></html>
