<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cn"><head>
<title>[##articletitle##]_佳艺企业内部网</title><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css"  href="[##site_dir##]/css/gen.css">	
	<link rel="stylesheet" type="text/css"  href="[##site_dir##]/css/footer.css">	    
</head><body class="www">
<!--UdmComment-->
 <div id="container">
[##header##]
<!--<div style="clear: both;"></div>-->



	  
<!-- Main content -->
<div id="page">

[##disp##]<h3 style='text-align:center'>[##articletitle##]</h3>	 
	
[##snavi##]
<div style="color:gray; text-align:center; font-size:12px; border-top: 1px dashed grb(193,193,192);margin:0 0 20px 0;">发布：<div style="color:rgb(0,102,255);display:inline;">[##artbywho##]</div>&nbsp;&nbsp;发表于<i>[##adddate##]</i></div>





<table  border="0">
  <tr>
    <td valign="top"><table style="" border="0" cellpadding="4" cellspacing="4">
	<tbody><tr >
		<td   width="92%">&nbsp;[##articlecontent##]
		</td>
	</tr>	
</tbody></table>
   </td>
    <td height="300px"></td>
  </tr>
</table>
	









 </div> </div> 
	
	
	
		
	
[##footer##]
</body></html>